* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.ex-layout {
    width: 1900px;
}

.ex-layout .gnb {
    background-image: url(../images/jeju.jpg);
    width: 1900px;
    height: 350px;
}

header {
    position: fixed;
    width: 1850px;
    background-color: rgba(250, 250, 250, 0);
    color: #FFFF99;
    font-size: 30px;
    text-align: center;
}

nav{
    width: 1900px;
}
nav ul{
    width: 1900px;
    position: absolute;
    top: 100px;
}
nav ul li{
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    font: bold 20px Dotum;
    padding: 10px 20px;
    margin: 0 50px;
}

nav ul li:hover {
    background-color: rgba(51, 102, 51, 0.3);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.ex-layout .main {
    background-color: white;
}

div.nav1 {
    font-size: 16px;
    padding: 10px;
    margin: auto;
}

.ex-layout .main .left {
    float: left;
    width: 200px;
    height: 100%;
    background-color: skyblue;
    padding: 10px;
    margin: auto;
}

div.main .content .left ul {
    background-color: rgba(250, 250, 250, 0);
    float: right;
    cursor: hand;
    position: relative;
}

div.main .content .left ul li {
    display: inline-block;
    background-color: #ddd;
    font: bold 20px Dotum;
    padding: 10px 20px;
    margin: 20px 5px;
    text-align: center;
}

.ex-layout .main .center {
    float: left;
    width: 80%;
    height: 100%;
    padding: 10px;
    margin: auto;
}
.dropbtn{
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    font: bold 25px bold;
    padding: 10px 10px;
    margin: 0 100px;
    border: none;
}
#dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}
td{
    border: 1px solid black;
}