.fgPink {
    color: pink;
}
.fgYellow {
    color: yellow;
}
.fgBlue {
    color: blue;
}
.bgPink {
    background-color: pink;
}
.bgYellow {
    background-color: yellow;
}
.bgBlue {
    background-color: blue;
}